body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}


body{
    background-color: #fff;
    color: var(--text-color);

}

header{
    position: flex;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 18%;
    transition: ease .40s;
    background-color: #BD424B;
}

.logo{
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.navbar{
    display: flex;
}

.navbar a{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 22px;
    border-radius: 4px;
    transition: ease .40s;
}

.navbar a:hover{
    background: #fff;
    color: #000000;
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    border-radius: 4px;
}

.menu-icon{
    color: var(--text-color);
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.product-details {
    background: white;
    margin: 2em auto;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 600px;
    text-align: center;
}

.product-details img {
    border-radius: 8px;
    margin: 1em 0;
}

.product-details h2 {
    font-size: 2em;
    margin-bottom: 1em;
}

.product-details p {
    font-size: 1.2em;
    margin-bottom: 1em;
}

form {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    font-weight: bold;
    margin-bottom: 0.5em;
}

form input[type="number"] {
    width: 60px;
    padding: 0.5em;
    margin-bottom: 1em;
}

.form-group {
    margin-bottom: 1em;
}

#total_transaksi {
    font-weight: bold;
    color: #0d6efd;
}

form input[type="submit"] {
    background: #0d6efd;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

form input[type="submit"]:hover {
    background: #0a58ca;
}

.footer {
    background-color: #781b1b;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer a{
    text-decoration: none;
    color: white;
}

.footer a:hover{
    color: rgb(66, 69, 69);
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    .navbar {
        flex-direction: column;
        gap: 0;
    }

    .navbar li {
        margin: 0.5em 0;
    }
}
