body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header{
    position: flex;
    top: 0;
    right: 0;
    width: 64%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 18%;
    transition: ease .40s;
    background-color: #BD424B;
}

.logo{
    font-size: 30px;
    font-weight: 550;
    letter-spacing: 1px;
    color: #fff;
    text-decoration: none;
}

.navbar{
    display: flex;
}

.navbar a{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 22px;
    border-radius: 4px;
    transition: ease .40s;
    text-decoration: none;
}

.navbar a:hover{
    background: #fff;
    color: #000000;
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    border-radius: 4px;
}

.menu-icon{
    color: var(--text-color);
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.profil {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.heading {
    color: #333;
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px;
    text-align: left;
}

.table th {
    background-color: #e1c7b6;
    color: white;
}

.table td {
    background-color: #f9f9f9;
}

.table tr:nth-child(even) td {
    background-color: #f1f1f1;
}

.btn-edit, .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5733;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-edit:hover, .btn:hover {
    background-color: #c70039;
}

a.btn {
    margin-top: 20px;
    display: block;
    text-align: center;
}

.footer {
    background-color: #781b1b;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer a{
    text-decoration: none;
    color: white;
}

.footer a:hover{
    color: rgb(66, 69, 69);
}